@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Roboto-Regular.woff2') format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background: #fff;
}

